.rehnen-accordion .accordion-header {
  border-bottom: teal 2px solid;
  background-color: white;
  color: teal;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 8px;
  width: 100%;

}
.sign-button {
  margin: 0;
  margin-top: 8px;
  padding: 0;
  width: 100%;
  background-color: transparent;
  border: none;
}

.rehnen-stage {
  position: relative;
}

.rehnen-sidebar.panel {
  max-width: 210px;
}

.toolbox.container {
  position: absolute;
  z-index: 100;
}

.toolbox.container .toolbox-main-area {
  background-color: white;
  margin-top: 16px;
  margin-bottom: 16px;
  border: 1px solid teal;
  padding: 8px 0;
  border-radius: 4px;
}

.sign-button:first-child {
  margin-top: 0;
  border-top: none;
}